In [10]:
import pandas as pd
import datetime

In [11]:
df = pd.read_csv("train.csv")

In [12]:
print("Sample of the given dataset:")
print(df.head())

Sample of the given dataset:
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              41000    Diesel       Manual      First  19.67 kmpl  1582 CC
1              46000    Petrol       Manual      First    13 km/kg  1199 CC
2              87000    Diesel       Manual      First  20.77 kmpl  1248 CC
3              40670    Diesel    Automatic     Second   15.2 kmpl  1968 CC
4              86999    Diesel       Manual      First  23.08 kmpl  1461 CC

       Power  Seats  New_Price  Price
0  126.2 bhp    5.0        NaN  12.50
1   88.7 bhp    5.0  8.61 Lakh   4.50
2  88.76 bhp    7.0        NaN   6.00
3  140.8 bhp    5.0        NaN  17.74
4   63.1 bhp    5.0        NaN   3.50

In [13]:
missing_values = df.isnull().sum()
print("\nMissing values in each column:")
print(missing_values)

Missing values in each column:
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [14]:
df['Mileage'] = df['Mileage'].astype(str).str.extract('(\d+\.\d+)').astype(float)
median_mileage = df['Mileage'].median()
df['Mileage'].fillna(median_mileage, inplace=True)


# Converting the 'Engine' column to string type and extract numerical value
df['Engine'] = df['Engine'].astype(str).str.extract('(\d+)')
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')
median_engine = df['Engine'].median()
df['Engine'].fillna(median_engine, inplace=True)


# Converting the 'Power' column to string type and extract numerical value
df['Power'] = df['Power'].astype(str).str.extract('(\d+\.?\d*)').astype(float)
median_power = df['Power'].median()
df['Power'].fillna(median_power, inplace=True)


# Extracting the numerical value from 'Price' column
df['Price'] = df['Price'].astype(str).str.replace('Lakh', '').astype(float)

# Converting 'New_Price' values to lakhs
def convert_to_lakhs(value):
    if pd.isna(value):
        return value
    elif 'Cr' in value:
        return float(value.replace('Cr', '')) * 100  # Convert crores to lakhs
    else:
        return float(value.replace('Lakh', ''))

df['New_Price'] = df['New_Price'].apply(convert_to_lakhs)
median_new_price = df['New_Price'].median()
df['New_Price'].fillna(median_new_price, inplace=True)



# Imputed missing values in 'Seats' column with median
median_seats = df['Seats'].median()
df['Seats'].fillna(median_seats, inplace=True)

In [15]:
# Verifying that missing values have been handled
print("\nMissing values after handling:")
print(df.isnull().sum())
print(df.head())

Missing values after handling:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    18.19  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  New_Price  Price
0  126.20    5.0      11.75  12.50
1   88.70    5.0       8.61   4.50
2   88.76    7.0      11.75   6.00
3  140.80    5.0      11.75  17.74
4   63.10    5.0      11.75   3.50

In [16]:
# One-hot encoding 'Fuel_Type' and 'Transmission' columns
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'])

# Displaying the first few rows of the dataframe
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0              41000      First    19.67  1582.0  126.20    5.0      11.75
1              46000      First    18.19  1199.0   88.70    5.0       8.61
2              87000      First    20.77  1248.0   88.76    7.0      11.75
3              40670     Second    15.20  1968.0  140.80    5.0      11.75
4              86999      First    23.08  1461.0   63.10    5.0      11.75

   Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0  12.50                 1                   0                 0
1   4.50                 0                   0                 1
2   6.00                 1                   0                 0
3  17.74                 1                   0                 0
4   3.50                 1                   0                 0

   Transmission_Automatic  Transmission_Manual
0                       0                    1
1                       0                    1
2                       0                    1
3                       1                    0
4                       0                    1

In [ ]:
# Convert 'Mileage' column to string type and extract numerical value
df['Mileage'] = df['Mileage'].astype(str).str.extract('(\d+\.\d+)').astype(float)

# Define a function to categorize cars based on mileage
def categorize_mileage(mileage):
    if mileage < 10:
        return 'Low'
    elif mileage < 20:
        return 'Medium'
    else:
        return 'High'

# Apply the function to the 'Mileage' column to create the new 'Fuel_Efficiency_Category' feature
df['Fuel_Efficiency_Category'] = df['Mileage'].apply(categorize_mileage)



# Calculate the age of the car
current_year = datetime.datetime.now().year
df['Car_Age'] = current_year - df['Year']

# Calculate the kilometers driven per year
df['Kilometers_Driven_per_Year'] = df['Kilometers_Driven'] / df['Car_Age']


print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0              41000      First    19.67  1582.0  126.20    5.0      11.75
1              46000      First    18.19  1199.0   88.70    5.0       8.61
2              87000      First    20.77  1248.0   88.76    7.0      11.75
3              40670     Second    15.20  1968.0  140.80    5.0      11.75
4              86999      First    23.08  1461.0   63.10    5.0      11.75

   Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0  12.50                 1                   0                 0
1   4.50                 0                   0                 1
2   6.00                 1                   0                 0
3  17.74                 1                   0                 0
4   3.50                 1                   0                 0

   Transmission_Automatic  Transmission_Manual Fuel_Efficiency_Category  \
0                       0                    1                   Medium
1                       0                    1                   Medium
2                       0                    1                     High
3                       1                    0                   Medium
4                       0                    1                     High

   Car_Age  Kilometers_Driven_per_Year
0        9                 4555.555556
1       13                 3538.461538
2       12                 7250.000000
3       11                 3697.272727
4       11                 7909.000000

In [ ]:
# Select
selected_df = df[['Name', 'Price']]
print("Selected DataFrame:")
print(selected_df.head())
print("\n")

# Filter
filtered_df = df[df['Location'] == "Pune"]
print("Filtered DataFrame:")
print(filtered_df.head())
print("\n")

# Rename
renamed_df = df.rename(columns={'Year': 'Manufacture_Year'})
print("Renamed DataFrame:")
print(renamed_df.columns)
print("\n")

# Mutate
df['Car_Age'] = datetime.datetime.now().year - df['Year']
print("DataFrame after Mutation:")
print(df[['Year', 'Car_Age']].head())
print("\n")

# Arrange
sorted_df = df.sort_values('Price', ascending=False)
print("Sorted DataFrame:")
print(sorted_df[['Name', 'Price']].head())
print("\n")

# Summarize with group by
summary_df = df.groupby('Fuel_Type_Diesel')['Price'].mean()
print("Summary DataFrame:")
print(summary_df)

Selected DataFrame:
                               Name  Price
0  Hyundai Creta 1.6 CRDi SX Option  12.50
1                      Honda Jazz V   4.50
2                 Maruti Ertiga VDI   6.00
3   Audi A4 New 2.0 TDI Multitronic  17.74
4            Nissan Micra Diesel XV   3.50


Filtered DataFrame:
    Unnamed: 0                                       Name Location  Year  \
0            1           Hyundai Creta 1.6 CRDi SX Option     Pune  2015
6            8        Volkswagen Vento Diesel Comfortline     Pune  2013
12          14             Land Rover Freelander 2 TD4 SE     Pune  2012
36          38           Mercedes-Benz M-Class ML 350 CDI     Pune  2013
61          63  Mercedes-Benz New C-Class 200 CDI Classic     Pune  2011

    Kilometers_Driven Owner_Type  Mileage  Engine  Power  Seats  New_Price  \
0               41000      First    19.67  1582.0  126.2    5.0      11.75
6               64430      First    20.54  1598.0  103.6    5.0      11.75
12              85000     Second     0.00  2179.0  115.0    5.0      11.75
36              85000      First    11.74  2987.0  254.8    5.0      11.75
61              65000     Second    15.80  2148.0  170.0    5.0      11.75

    Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0    12.5                 1                   0                 0
6     5.2                 1                   0                 0
12   17.5                 1                   0                 0
36   28.0                 1                   0                 0
61   10.0                 1                   0                 0

    Transmission_Automatic  Transmission_Manual Fuel_Efficiency_Category  \
0                        0                    1                   Medium
6                        0                    1                     High
12                       1                    0                      Low
36                       1                    0                   Medium
61                       0                    1                   Medium

    Car_Age  Kilometers_Driven_per_Year
0         9                 4555.555556
6        11                 5857.272727
12       12                 7083.333333
36       11                 7727.272727
61       13                 5000.000000


Renamed DataFrame:
Index(['Unnamed: 0', 'Name', 'Location', 'Manufacture_Year',
       'Kilometers_Driven', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price', 'Fuel_Type_Diesel', 'Fuel_Type_Electric',
       'Fuel_Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual',
       'Fuel_Efficiency_Category', 'Car_Age', 'Kilometers_Driven_per_Year'],
      dtype='object')


DataFrame after Mutation:
   Year  Car_Age
0  2015        9
1  2011       13
2  2012       12
3  2013       11
4  2013       11


Sorted DataFrame:
                                             Name   Price
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue  160.00
5620                   Lamborghini Gallardo Coupe  120.00
5752                       Jaguar F Type 5.0 V8 S  100.00
1457              Land Rover Range Rover Sport SE   97.07
1917                           BMW 7 Series 740Li   93.67


Summary DataFrame:
Fuel_Type_Diesel
0     5.761988
1    12.960686
Name: Price, dtype: float64

In [ ]:
print(df.columns)

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price',
       'Price', 'Fuel_Type_Diesel', 'Fuel_Type_Electric', 'Fuel_Type_Petrol',
       'Transmission_Automatic', 'Transmission_Manual',
       'Fuel_Efficiency_Category', 'Car_Age', 'Kilometers_Driven_per_Year'],
      dtype='object')